.table{
    margin-top: 100px;
    margin-bottom: 250px;
}

#shopping-cart{
    min-height:70vh;
}

.txt-heading{
    width: 500px;
    height: 50px;
}

#btnEmpty{
    border: 1px solid red;
    padding: 7px;
    font-weight: bold;
    color: red;
    
}

.placeorder{
    padding: 7px;
    font-weight: bold;
    color: white;
    background-color: gray;
}


.cart-img{
    display: flex;
}

.cart-img img{
    margin-right: 40px;
}